/* Fonts */
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black-op4:  rgba(0, 0, 0, 0.4);
  --basic-black-op3:  rgba(0, 0, 0, 0.3);
  --basic-black-op2:  rgba(0, 0, 0, 0.2);
  --basic-black-op018:  rgba(0, 0, 0, 0.18);;
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-op3: rgba(255, 255, 255, 0.3);
  --basic-white-op6: rgba(255, 255, 255, 0.6);
  --basic-white-op7: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-middle: #DCDCDC;
  --special-grey: #F2F2F2;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;

  --special-green: #91C92F;
  /* Pagination */
  --pagination-grey-main: #EBEBEB;
  --pagination-grey-secondary: #D9D9D9;
  /* Fonts */
  --main-font: "Open Sans", Arial, sans-serif;
  --secondary-font: "Gilroy", Arial, sans-serif;
  /* Filter */
  --toggle-color: #C4C4C4;
  --disabled-button: #A6A6A6;
}

/* Global */
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* Pages */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  padding-top: 40px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}

/* Main-link */
.main-link {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 9px 42px;
  color: var(--basic-black);
}

.main-link::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.main-link:hover::before,
.main-link:active::before {
  top: 0;
  height: 100%;
}

.main-link:focus {
  color: var(--basic-black-op3);
}

/* Main Title */
.main-title {
  font-family: var(--secondary-font);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

.secondary-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Header */
.main-header {
  position: relative;
  padding: 44px 60px 50px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  align-items: center;
  background-color: var(--special-yellow);
}

/* Logo */
.logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo-footer {
  position: relative;
  top: auto;
  left: auto;
  align-self: end;
}

.logo:hover,
.logo:active {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

/* Search */
.search {
  display: flex;
  align-items: center;
  position: relative;
  height: 54px;
}

.search::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/icons/icon_search.svg");
  background-repeat: no-repeat;
}

.search-label {
  line-height: 20px;
}

.search-input {
  font: inherit;
  background-color: transparent;
  padding-left: 22px;
  border: none;
  color: var(--basic-black);
  opacity: 0.3;
  cursor: pointer;
  margin-right: 190px;
}

.search-input:hover,
.search-input:active {
  opacity: 0.6;
}

.search-input:focus {
  outline: none;
  opacity: 1;
}

.search-button {
  position: relative;
  font: inherit;
  line-height: 20px;
  display: none;
  border: 2px solid var(--basic-black);
  padding: 15px 17px;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
}

.search-button::after {
  content: "";
  position: absolute;
  width: 462px;
  height: 2px;
  bottom: -2px;
  left: -387px;
  background-color: var(--basic-black);
}

.search-button:hover,
.search-button:active {
  background-color: var(--basic-black);
  color: var(--basic-white);
}

.search-button:focus {
  background-color: var(--basic-black);
  color: var(--basic-white);
  opacity: 0.3;
}

.search-input:focus + .search-button {
  display: block;
}

/* Login, Compare, Basket*/
.nav-user-links {
  display: flex;
  align-items: center;
}

.basket-link {
  margin-left: 41;
}

.compare-link {
  margin-left: auto;
}

.basket-link,
.compare-link {
  justify-self: end;
}

.login-link {
  position: relative;
  margin-left: 20px;
  padding-left: 24px;
}

.login-link::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url('../img/icons/icon_user.svg');
  background-repeat: no-repeat;
}

.nav-user-name .login-link::before {
  display: none;
}

.nav-user-name::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 13px;
  height: 14px;
  background-image: url('../img/icons/icon_user.svg');
  background-repeat: no-repeat;
}

.nav-user-name-footer::before {
  background-image: url('../img/icons/icon_user_yellow.svg');
}

.compare-link {
  position: relative;
  margin-right: 20px;
  padding-left: 26px;
}

.compare-link::before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  background-image: url('../img/icons/icon_chart.svg');
  background-repeat: no-repeat;
}

.basket-link {
  position: relative;
  padding-left: 22px;
}

.basket-link::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 10px;
  height: 10px;
  background-image: url('../img/icons/icon_cart.svg');
  background-repeat: no-repeat;
}

.nav-user-links a {
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;
}

.nav-user-name  .login-link {
  color: var(--basic-black-op4);
}

.nav-user-name {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  position: relative;
  padding-left: 24px;
}

.nav-user-links a:hover,
.nav-user-links a:active {
  opacity: 0.6;
}

.nav-user-links a:focus {
  opacity: 0.3;
}

.nav-user-links-footer {
  grid-template-columns: min-content min-content min-content;
  align-self: start;
  justify-self: end;
}


.login-link-footer::before {
  background-image: url("../img/icons/icon_user_yellow.svg");
}

.compare-link-footer::before {
  background-image: url("../img/icons/icon_chart_yellow.svg");
}

.basket-link-footer::before {
  background-image: url("../img/icons/icon_cart_yellow.svg");
}

.compare-link-footer {
  margin-left: 41px;
}

.basket-link-footer {
  margin-left: 22px;
}

.nav-user-links-footer a {
  color: var(--basic-white-op7);
}

.nav-user-name .login-link-footer {
  color: var(--basic-white-op7);
}

.nav-user-links-footer a:hover,
.nav-user-links-footer a:active {
  opacity: 1;
  color: var(--basic-white);
}

.nav-user-links-footer a:focus {
  color: var(--basic-white-op3);
}

/* Navigation */
.nav {
  margin-top: 47px;
  grid-column: 1 / -1;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 540px 160px 1fr 1fr;
  list-style: none;
}

.nav-item:last-child {
  justify-self: end;
}

.nav-link {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.nav-link:hover,
.nav-link:active {
  opacity: 0.6;
}

.nav-link:focus {
  opacity: 0.3;
}

.nav-link-catalog {
  position: relative;
  cursor: pointer;
  padding-right: 34px;
  display: inline-block;
}

.nav-link-catalog::before {
  content: '';
  position: absolute;
  width: 22px;
  height: 22px;
  top: 0;
  right: 0;
  background-image: url("../img/icons/icon_plus.svg");
  background-repeat: no-repeat;
}

.nav-catalog-list {
  display: none;
  position: absolute;
  z-index: 1;
  list-style: none;
  width: 1100px;
  margin: 0;
  padding-top: 15px;
  padding-left: 60px;
  left: -60px;
  background-color: var(--special-yellow);
}

.nav-link-catalog:hover > .nav-catalog-list  {
  display: grid;
  grid-template-columns: repeat(3, 200px);
  grid-template-rows: repeat(3, auto);
}

.nav-catalog-list .nav-catalog-item:nth-last-child(2) {
  grid-column: 2 / 4;
}

.nav-catalog-item {
  margin-bottom: 20px;
}

.nav-catalog-link {
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

.nav-catalog-link:hover,
.nav-catalog-link:active {
  opacity: 0.6;
}

.nav-catalog-link:focus {
  opacity: 0.3;
}

/* Slides */
.slides {
  position: relative;
  padding-left: 89px;
  padding-right: 47px;
}

.slides::before {
  content: "";
  position: absolute;
  z-index: -2;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: var(--special-yellow);
}

.slides-list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
  display: none;
}

.slides-item-active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slides-img {
  display: block;
}

.slides-col {
  position: relative;
}

.slides-col::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 7px;
  background-color: var(--basic-white);
}

.slides-led {
  display: block;
  margin-top: 75px;
}

.slides-text {
  line-height: 20px;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 56px;
}

.slides-counter {
  margin: 0;
  padding: 0;
  position: absolute;
  top: -48px;
  right: 0;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slides-item-spec {
  margin-top: 59px;
}

.slides-item-properties {
  display: grid;
  grid-template-columns: 160px 140px 160px;
  grid-template-rows: auto auto;
  font-family: var(--secondary-font);
  letter-spacing: 0.1em;
}

.slides-item-term {
  order: 2;
  margin-top: 15px;
  font-size: 13px;
  line-height: 15px;
}

.slides-item-desc {
  order: 1;
  margin-inline-start: 0;
  font-size: 36px;
  line-height: 42px;
}

.slides-switchers {
  position: absolute;
  right: 100px;
  top: 327px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 72px;
}

.slides-switchers .slides-switcher:not(:last-child) {
  margin-right: 18px;
}

.slides-switcher-button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 13px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
  cursor: pointer;
  text-align: center;
}

.slides-switcher-button-current::before {
  content: '';
  width: 7px;
  height: 7px;
  border: 1px solid var(--basic-black);
  border-radius: 50%;
}

/* Categories */
.categories {
  margin-top: 100px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  list-style: none;
}

.categories-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: var(--basic-black);
}

.categories-img-wrap {
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--special-yellow);
  margin-bottom: 35px;
}

.categories-img {
  vertical-align: middle; /* Не понимаю почему не работает */
}

.categories-link:hover .categories-img-wrap,
.categories-link:active .categories-img-wrap {
  background-color: var(--special-yellow-dark);
}

.categories-link:focus .categories-img,
.categories-link:focus {
  opacity: 0.3;
}

/* Features */
.features {
  margin-top: 175px;
  min-height: 288px;
  background-color: var(--basic-grey-light);
}

.features__row {
  display: flex;
}

.features-triggers {
  position: relative;
  width: 280px;
  top: -20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-triggers::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -4px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.features-trigger {
  margin-bottom: 20px;
}

.features-trigger-link {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 9px 25px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-trigger-link-current {
  display: block;
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.features-trigger-link::before {
  content: '';
  position: absolute;
  top: 16px;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 8px;
  background-color: var(--special-yellow-dark);
}

.features-trigger-link:hover::before {
  top: 0;
  height: 100%;
}

.features-trigger-link-current::before {
  display: none;
}

.features-list {
  position: relative;
  width: 100%;
  margin: -29px;
  margin-left: 120px;
  padding: 0;
  list-style: none;
}

.features-item {
  position: relative;
  display: none;
}

.features-item-current {
  display: block;
}

.features-list .features-item::before {
  content: '';
  position: absolute;
  top: 0;
  right: 10px;
}

.features-list .features-item:first-child:before {
  width: 136px;
  height: 164px;
  background-image: url("../img/services/delivery.svg");
  background-repeat: no-repeat;
}

.features-list .features-item:nth-child(2):before {
  width: 171px;
  height: 195px;
  background-image: url("../img/services/warranty.svg");
  background-repeat: no-repeat;
}

.features-list .features-item:last-child {
  width: 156px;
  height: 188px;
  background-image: url("../img/services/credit.svg");
  background-repeat: no-repeat;
}

.features-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.features-desc {
  margin-top: 40px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Partners */
.partners {
  margin-bottom: 82px;
}

.partners-list {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  list-style: none;
}

.partners-img {
  filter: grayscale(1);
}

.partners-img:hover  {
  filter: grayscale(0);
}

/* About */
.about {
  position: relative;
  width: 473px;
  padding-top: 56px;
}

.about-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.about-text {
  margin-top: 41px;
  margin-bottom: 40px;
}

.about-transports {
  margin: 0;
  margin-top: 60px;
  margin-bottom: 73px;
  padding: 0;
  list-style: none;
}

.about-transport {
  position: relative;
  padding-left: 32px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 15px;
}

.about-transport::before {
  content: '';
  position: absolute;
  top: 8px;
  left: 0;
  width: 9px;
  height: 9px;
  border: 1px solid var(--basic-grey-light);
  border-radius: 50%;
}

/* Contacts */
.contacts {
  position: relative;
  width: 560px;
  padding-top: 56px;
}

.contacts-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.contacts-text {
  margin-top: 41px;
}

.contacts-img {
  display: block;
  margin-top: 40px;
  margin-bottom: 81px;
}

.about::before,
.contacts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--basic-black);
}

/* Main */
.main-pleft {
  padding-left: 60px;
}

.main-page-row {
  display: grid;
  grid-template-columns: 37% 63%;
  margin-top: 39px;
}

/* Footer */
.main-footer {
  position: relative;
  background-color: var(--basic-dark);
  color: var(--basic-white-op7);
  padding-top: 48px;
  padding-bottom: 49px;
}

.main-footer-office {
  padding: 0;
  margin: 0;
}

.main-footer-nav {
  margin: 0;
  padding: 0;
  justify-self: center;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  list-style: none;
}

.main-footer-item:not(:last-child) {
  margin-right: 35px;
}

.main-footer-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
}

.main-footer-link:hover,
.main-footer-link:active {
  color: var(--basic-white-op6);
}

.main-footer-link:focus {
  color: var(--basic-white-op3);
}

.main-footer-top {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 360px;
}

.main-footer-middle {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 260px 1fr 260px;
}

.main-footer-bottom {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.main-footer-bottom::before {
  content: "";
  display: block;
  width: 80px;
  height: 7px;
  background-color: var(--special-yellow-dark);
}

.main-footer-address {
  justify-self: end;
}

.main-footer-phone {
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

/* Socials*/
.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 136px;
}

.socials-link {
  display: block;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.socials-link-facebook {
  background-image: url("../img/social/facebook.png");
}

.socials-link-instagram {
  background-image: url("../img/social/instagram.png");
}

.socials-link-twitter {
  background-image: url("../img/social/twitter.png");
}

.socials-link:hover,
.socials-link:active {
  opacity: 1;
}

.socials-link:focus {
  opacity: 0.3;
}

/* HTML LOGO */
.logo-html {
  display: block;
  width: 27px;
  height: 34px;
  background-image: url("../img/logo-html-academy.svg");
  background-repeat: no-repeat;
}

.logo-html:hover,
.logo-html:active {
  opacity: 0.6;
}

.logo-html:focus{
  opacity: 0.3s;
}

/* Modals */
.modal-write {
  background-color: var(--basic-white);
}

.modal-close {
  background-color: var(--special-yellow);
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:active {
  background-color: var(--special-yellow-dark);
  opacity: 1;
}

.modal-close:focus {
  background-color: var(--special-yellow-dark);
  opacity: 0.3;
}

/* Write form */
.write-form-label {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-form-input {
  font: inherit;
  background-color: var(--special-grey);
}

.write-form-input::placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-op4);
}

.write-form-text {
  font: inherit;
  background-color: var(--special-grey);
  color: var(--basic-black-op4);
}


/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 20px;
  margin-right: 14px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 0.1;
}

.breadcrumbs-item::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 0;
  width: 12px;
  height: 12px;
  background-image: url("../img/icons/icon_arrow_nav.svg");
}

.breadcrumbs .breadcrumbs-item:last-child::after {
  display: none;
}

/* Filter */
.filter-fieldset {
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
  border: none;
  display: block;
}

.filter-wrap-title {
  background-color: var(--basic-grey-middle);
}

.filter-wrap-form {
  height: 100%;
  padding-top: 70px;
  background-color: var(--basic-grey-light)
}

.filter-form {
  width: 268px;
  padding-right: 68px;
  margin-left: auto;
}

.filter-title {
  width: 268px;
  margin: 0;
  padding: 25px 0;
  margin-left: auto;
}

.filter-legend {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 30px;
  padding-top: 14px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  padding-inline-start: unset;
  padding-inline-end: unset;
}

.filter-legend::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black);
}

.filter-range {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-range-controls {
  position: relative;
}

.filter-range-scale {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--basic-black-op2);
}

.filter-range-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 2px;
  background-color: var(--special-green);
  opacity: 1;
}

.filter-range-toggle {
  position: absolute;
  top: -8px;
  left: 0;
  width: 4px;
  height: 4px;
  background: var(--toggle-color);
  border: 8px solid var(--basic-white);
  box-shadow: 0px 2px 2px var(--basic-black-op018);
  border-radius: 50%;
  box-sizing: content-box;
  cursor: pointer;
}

.filter-range-toggle-max {
  left: 130px;
}

.filter-range-price {
  margin-top: 20px;
}

.filter-range-price-from {
  margin-right: 80px;
}

.filter-label {
  position: relative;
  padding-left: 40px;
  display: block;
  cursor: pointer;
  font-size: 14px;
  line-height: 22px;
}

.filter-col {
  margin-bottom: 15px;
}

.filter-checkbox + .filter-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid var(--basic-black);
}

.filter-checkbox:checked + .filter-label::after {
  content: '';
  position: absolute;
  top: 6px;
  left: 4px;
  width: 14px;
  height: 11px;
  background-image: url("../img/icons/icon_checkbox.svg");
  background-repeat: no-repeat;
}

.filter-radio + .filter-label::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  border: 2px solid var(--basic-black);
  border-radius: 50%;
}

.filter-radio:checked + .filter-label::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 7px;
  width: 8px;
  height: 8px;
  background-color: var(--basic-black);
  border-radius: 50%;
}

.filter-submit {
  background-color: transparent;
  border: none;
}

.filter-radio:checked + .filter-label:hover::after,
.filter-radio:checked + .filter-label:hover::before,
.filter-radio:checked + .filter-label:active::after,
.filter-radio:checked + .filter-label:active::before,
.filter-checkbox:checked + .filter-label:hover::after,
.filter-checkbox:checked + .filter-label:hover::before,
.filter-checkbox:checked + .filter-label:active::after,
.filter-checkbox:checked + .filter-label:active::before  {
  opacity: 0.6;
}

.filter-radio + .filter-label:hover::after,
.filter-radio + .filter-label:hover::before,
.filter-radio + .filter-label:active::after,
.filter-radio + .filter-label:active::before,
.filter-checkbox + .filter-label:hover::after,
.filter-checkbox + .filter-label:hover::before,
.filter-checkbox + .filter-label:active::after,
.filter-checkbox + .filter-label:active::before {
  opacity: 0.6;
}

.filter-checkbox:disabled + .filter-label,
.filter-radio:disabled + .filter-label  {
  color: var(--disabled-button);
}

.filter-checkbox:disabled + .filter-label::before,
.filter-checkbox:disabled + .filter-label::after,
.filter-radio:disabled + .filter-label::before,
.filter-radio:disabled + .filter-label::after {
  opacity: 0.25;
}

/* Catalog */
.catalog {
  margin-bottom: 78px;
}

.catalog-wrap-list {
  width: 760px;
  padding-left: 72px;
  margin-right: auto;
}

.catalog-list {
  margin: 0;
  margin-top: 69px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 48px;
}

.catalog-item {
  width: 360px;
}

.catalog-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-price {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-compare-link {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-decoration: none;
  opacity: 0.5;
  color: var(--basic-black);
}

.catalog-compare-link:hover,
.catalog-compare-link:active {
  opacity: 1;
}

.catalog-compare-link:focus {
  opacity: 0.2;
}

/* Sort */
.catalog-wrap-sort {
  padding-left: 72px;
  background-color: var(--basic-grey-light);
}

.catalog-col {
  display: flex;
  align-items: center;
  padding: 25px 0;
  width: 760px;
  margin-right: auto;
}

.sort-title {
  margin-right: 74px;
}

.sort-list {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-link {
  position: relative;
  margin-right: 30px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-list .sort-item:nth-last-child(2) {
  margin-left: auto;
}

.sort-link-current {
  opacity: 1;
}

.sort-link-asc,
.sort-link-desc {
  width: 18px;
  height: 18px;
  opacity: 1;
}

.sort-link-asc {
  opacity: 0.3;
}

.sort-link-asc::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  width: 10px;
  height: 11px;
  background-image: url("../img/icons/icon-up-dir.svg");
  transform: rotate(180deg);
  background-repeat: no-repeat;
}

.sort-link-desc::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 10px;
  width: 10px;
  height: 11px;
  background-image: url("../img/icons/icon-up-dir.svg");
  background-repeat: no-repeat;
}

/* Pagination */
.pagination {
  margin: 0;
  margin-top: 40px;
  padding: 25px 30px;
  list-style: none;
  display: flex;
  background-color: var(--pagination-grey-main);
}

.pagination-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-item:not(:first-child):not(:last-child) {
  margin-right: 30px;
}

.pagination-item-action:first-child {
  margin-right: auto;
}

.pagination-item-action:last-child {
  margin-left: auto;
}

.pagination-link-back,
.pagination-link-current,
.pagination-link-next {
  opacity: 1;
}

.pagination-item-action:hover {
  background-color: var(--pagination-grey-secondary);
}

.pagination-link-back:focus,
.pagination-link-next:focus {
  opacity: 0.3;
}
