/* Fonts */
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/opensanslight.woff2") format("woff2"),
    url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src:
    url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

/* Variables */
:root {
  --basic-black: #000000;
  --basic-black-op4:  rgba(0, 0, 0, 0.4);
  --basic-black-op3:  rgba(0, 0, 0, 0.3);
  --basic-dark: #363636;
  --basic-white: #FFFFFF;
  --basic-white-op3: rgba(255, 255, 255, 0.3);
  --basic-white-op6: rgba(255, 255, 255, 0.6);
  --basic-white-op7: rgba(255, 255, 255, 0.7);
  --basic-grey: #464646;
  --basic-half-grey: #7E7E7E;
  --basic-grey-light: #E5E5E5;
  --basic-grey-middle: #DCDCDC;
  --special-grey: #F2F2F2;
  --special-yellow: #F7E296;
  --special-yellow-dark: #F0C52E;
  /* Pagination */
  --pagination-grey-main: #EBEBEB;
  --pagination-grey-secondary: #D9D9D9;
  /* Fonts */
  --main-font: "Open Sans", Arial, sans-serif;
  --secondary-font: "Gilroy", Arial, sans-serif;
}

/* Global */
body {
  font-family: var(--main-font);
  font-size: 15px;
  line-height: 28px;
  font-weight: 300;
  color: var(--basic-black);
}

img {
  max-width: 100%;
  height: auto;
}

.hide {
  display: none;
}

.container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

/* Pages */
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  padding-top: 40px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.page-column {
  display: flex;
  justify-content: space-between;
  margin-bottom: 83px;
}

/* Main-link */
.main-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.main-link:focus {
  opacity: 0.3;
}

/* Main Title */
.main-title {
  font-family: var(--secondary-font);
  font-size: 47px;
  line-height: 58px;
  font-weight: 800;
}

.secondary-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

/* Header */
.main-header {
  position: relative;
  padding: 44px 60px 50px 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  background-color: var(--special-yellow);
}

/* Logo */
.logo {
  position: absolute;
  top: -20px;
  left: 60px;
}

.logo-footer {
  position: relative;
  top: auto;
  left: auto;
  align-self: end;
}

.logo:hover,
.logo:active {
  opacity: 0.6;
}

.logo:focus {
  opacity: 0.3;
}

/* Search */
.search-label {
  display: none;
  line-height: 20px;
}

.search-input {
  display: none;
  font: inherit;
}

/* Login, Compare, Basket*/
.nav-user-links {
  display: flex;
}

.basket-link {
  margin-left: 41;
}

.compare-link {
  margin-left: auto;
}

.basket-link,
.compare-link {
  justify-self: end;
}

.login-link {
  margin-left: 20px;
  padding-left: 24px;
}

.compare-link {
  margin-right: 20px;
  padding-left: 26px;
}

.basket-link {
  padding-left: 22px;
}

.nav-user-links a {
  line-height: 20px;
  color: var(--basic-black);
  text-decoration: none;
}

.nav-user-name  .login-link {
  color: var(--basic-black-op4);
}

.nav-user-name {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.nav-user-links a:hover,
.nav-user-links a:active {
  opacity: 0.6;
}

.nav-user-links a:focus {
  opacity: 0.3;
}

.nav-user-links-footer {
  grid-template-columns: min-content min-content min-content;
  align-self: start;
  justify-self: end;
}

.compare-link-footer {
  margin-left: 41px;
}

.basket-link-footer {
  margin-left: 22px;
}

.nav-user-links-footer a {
  color: var(--basic-white-op7);
}

.nav-user-name .login-link-footer {
  color: var(--basic-white-op7);
}

.nav-user-links-footer a:hover,
.nav-user-links-footer a:active {
  opacity: 1;
  color: var(--basic-white);
}

.nav-user-links-footer a:focus {
  color: var(--basic-white-op3);
}

/* Navigation */
.nav {
  margin-top: 47px;
  grid-column: 1 / -1;
}

.nav-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 540px 160px 1fr 1fr;
  list-style: none;
}

.nav-item:last-child {
  justify-self: end;
}

.nav-link {
  font-family: var(--secondary-font);
  font-size: 18px;
  line-height: 22px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
}

.nav-link:hover,
.nav-link:active {
  opacity: 0.6;
}

.nav-link:focus {
  opacity: 0.3;
}

.nav-catalog-list {
  display: none;
  list-style: none;
}

.nav-catalog-link {
  line-height: 20px;
  text-decoration: none;
  color: var(--basic-black);
}

.nav-catalog-link:hover,
.nav-catalog-link:active {
  opacity: 0.6;
}

.nav-catalog-link:focus {
  opacity: 0.3;
}

/* Slides */
.slides {
  position: relative;
  padding-left: 89px;
  padding-right: 47px;
}

.slides::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: var(--special-yellow);
}

.slides-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slides-item {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.slides-img {
  display: block;
}

.slides-led {
  display: block;
  margin-top: 75px;
}

.slides-text {
  line-height: 20px;
  padding: 0;
  margin-top: 26px;
  margin-bottom: 56px;
}

.slides-counter {
  position: absolute;
  top: 0;
  right: 0;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 179px;
  line-height: 219px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.slides-item-spec {
  margin-top: 59px;
}

.slides-item-properties {
  display: grid;
  grid-template-columns: 160px 140px 160px;
  grid-template-rows: auto auto;
  font-family: var(--secondary-font);
  letter-spacing: 0.1em;
}

.slides-item-term {
  order: 2;
  margin-top: 15px;
  font-size: 13px;
  line-height: 15px;
}

.slides-item-desc {
  order: 1;
  margin-inline-start: 0;
  font-size: 36px;
  line-height: 42px;
}

/* Categories */
.categories {
  margin-top: 100px;
}

.categories-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 40px;
  list-style: none;
}

.categories-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-decoration: none;
  color: var(--basic-black);
}

.categories-img-wrap {
  width: 160px;
  height: 160px;
  text-align: center;
  background-color: var(--special-yellow);
  margin-bottom: 35px;
}

.categories-img {
  vertical-align: middle; /* Не понимаю почему не работает */
}

.categories-link:hover .categories-img-wrap,
.categories-link:active .categories-img-wrap {
  background-color: var(--special-yellow-dark);
}

.categories-link:focus .categories-img,
.categories-link:focus {
  opacity: 0.3;
}

/* Features */
.features {
  margin-top: 175px;
  min-height: 288px;
  background-color: var(--basic-grey-light);
}

.features__row {
  display: flex;
}

.features-triggers {
  position: relative;
  width: 280px;
  top: -20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-triggers::after {
  content: "";
  position: absolute;
  top: -80px;
  right: -4px;
  width: 7px;
  height: 320px;
  background-color: var(--basic-black);
}

.features-trigger {
  margin-bottom: 20px;
}

.features-trigger-link {
  display: block;
  padding: 9px 0 9px 19px;
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--basic-black);
}

.features-trigger-link-current {
  color: var(--special-yellow);
  background-color: var(--basic-black);
}

.features-list {
  position: relative;
  margin: -29px;
  margin-left: 120px;
  padding: 0;
  list-style: none;
}

.features-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.features-desc {
  margin-top: 40px;
  line-height: 30px;
  letter-spacing: 0.1em;
}

/* Partners */
.partners {
  margin-bottom: 82px;
}

.partners-list {
  margin: 0;
  padding: 0;
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(4, 260px);
  gap: 40px;
  list-style: none;
}

.partners-img {
  filter: grayscale(1);
}

.partners-img:hover  {
  filter: grayscale(0);
}

/* About */
.about {
  width: 473px;
  margin-top: 56px;
}

.about-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.about-text {
  margin-top: 41px;
  margin-bottom: 40px;
}

.about-transports {
  margin: 0;
  margin-left: 32px;
  margin-top: 60px;
  margin-bottom: 73px;
  padding: 0;
  list-style: none;
}

.about-transport {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  margin-bottom: 15px;
}

/* Contacts */
.contacts {
  width: 560px;
  margin-top: 56px;
}

.contacts-title {
  margin: 0;
  letter-spacing: 0.2em;
}

.contacts-text {
  margin-top: 41px;
}

.contacts-img {
  display: block;
  margin-top: 40px;
  margin-bottom: 81px;
}

/* Main */
.main-pleft {
  padding-left: 60px;
}

.main-page-row {
  display: grid;
  grid-template-columns: 37% 63%;
  margin-top: 39px;
}

/* Footer */
.main-footer {
  position: relative;
  background-color: var(--basic-dark);
  color: var(--basic-white-op7);
  padding-top: 48px;
  padding-bottom: 49px;
}

.main-footer-office {
  padding: 0;
  margin: 0;
}

.main-footer-nav {
  margin: 0;
  padding: 0;
  justify-self: center;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  list-style: none;
}

.main-footer-item:not(:last-child) {
  margin-right: 35px;
}

.main-footer-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
}

.main-footer-link:hover,
.main-footer-link:active {
  color: var(--basic-white-op6);
}

.main-footer-link:focus {
  color: var(--basic-white-op3);
}

.main-footer-top {
  height: 60px;
  display: grid;
  grid-template-columns: 1fr 360px;
}

.main-footer-middle {
  margin-top: 28px;
  display: grid;
  grid-template-columns: 260px 1fr 260px;
}

.main-footer-address {
  justify-self: end;
}

.main-footer-phone {
  font-style: normal;
  line-height: 20px;
  text-decoration: none;
  color: inherit;
}

/* Socials*/
.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Modals */
.modal-write {
  background-color: var(--basic-white);
}

.modal-close {
  background-color: var(--special-yellow);
  opacity: 0.5;
}

.modal-close:hover,
.modal-close:active {
  background-color: var(--special-yellow-dark);
  opacity: 1;
}

.modal-close:focus {
  background-color: var(--special-yellow-dark);
  opacity: 0.3;
}

/* Write form */
.write-form-label {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}

.write-form-input {
  font: inherit;
  background-color: var(--special-grey);
}

.write-form-input::placeholder {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: var(--basic-black-op4);
}

.write-form-text {
  font: inherit;
  background-color: var(--special-grey);
  color: var(--basic-black-op4);
}


/* Breadcrumbs */
.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  display: inline-block;
  margin-right: 14px;
}

.breadcrumbs-link {
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.breadcrumbs-link:hover,
.breadcrumbs-link:active {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  opacity: 0.1;
}

/* Filter */
.filter {
  /* background-color: var(--basic-grey-light); */
}

.filter-wrap-title {
  background-color: var(--basic-grey-middle);
}

.filter-wrap-form {
  height: 100%;
  background-color: var(--basic-grey-light)
}

.filter-form {
  width: 268px;
  margin-left: auto;
}

.filter-title {
  width: 268px;
  margin: 0;
  padding: 25px 0;
  margin-left: auto;
  /* background-color: var(--basic-grey-middle); */
}

.filter-legend {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
}

.filter-range {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
}

.filter-label {
  font-size: 14px;
  line-height: 19px;
}

/* Catalog */
.catalog {
  margin-bottom: 78px;
}

.catalog-wrap-list {
  width: 760px;
  padding-left: 72px;
  margin-right: auto;
}

.catalog-list {
  margin: 0;
  margin-top: 69px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 360px 360px;
  column-gap: 40px;
  row-gap: 48px;
}

.catalog-item {
  width: 360px;
}

.catalog-title {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
}

.catalog-price {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.catalog-compare-link {
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.1em;
  text-decoration: none;
  opacity: 0.5;
  color: var(--basic-black);
}

.catalog-compare-link:hover,
.catalog-compare-link:active {
  opacity: 1;
}

.catalog-compare-link:focus {
  opacity: 0.2;
}

/* Sort */
.catalog-wrap-sort {
  padding-left: 72px;
  background-color: var(--basic-grey-light);
}

.catalog-col {
  display: grid;
  grid-template-columns: min-content min-content;
  align-items: center;
  padding: 25px 0;
  width: 760px;
  margin-right: auto;
}

.sort-title {
  margin-right: 74px;
}

.sort-list {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-link {
  margin-right: 30px;
  white-space: nowrap;
  font-size: 14px;
  line-height: 19px;
  text-decoration: none;
  opacity: 0.3;
  color: var(--basic-black);
}

.sort-link-current {
  opacity: 1;
}

/* Pagination */
.pagination {
  margin: 0;
  margin-top: 40px;
  padding: 25px 30px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr min-content min-content min-content 1fr;
  background-color: var(--pagination-grey-main);
}

.pagination-link {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.pagination-item:not(:first-child):not(:last-child) {
  justify-self: center;
  margin-right: 30px;
}

.pagination-item-action:first-child {
  justify-self: start;
}

.pagination-item-action:last-child {
  justify-self: end;
}

.pagination-link-back,
.pagination-link-current,
.pagination-link-next {
  opacity: 1;
}

.pagination-item-action:hover {
  background-color: var(--pagination-grey-secondary);
}

.pagination-link-back:focus,
.pagination-link-next:focus {
  opacity: 0.3;
}
